<div class="row profile-edit">
  <div class="col-12">
    <div class="mb-4 p-4 pill">

      <h2 class="text-center text-muted pb-3">Ask for help</h2>

      <%= render 'form', question: @question %>

    </div>
  </div>
</div>
