<div class="jumbotron">
  <div class="container mt-5">
    <div class="text-left col-8">
      <h1>
        Boost your Venture.<br>
        <span class="text-white">Get help from highly skilled mentors.</span>
      </h1>
      <p class="d-none d-md-block">
        Incube8 / The virtual incubator gives entrepreneurs in Emerging Markets access to a global pool of highly
        skilled mentors to kickstart and scale their ventures
      </p>
      <p><a class="btn btn-lg btn-primary pink mt-3" href="/users/sign_up" role="button">Join us for free</a></p>
    </div>
  </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img" width="140" height="140" src="/img/landing/icons/answers.svg" alt="Answers">
      <h2>Get Answers</h2>
      <p>Get answers to your most pressing problems.</p>
      <p><a class="btn btn-secondary pink" href="#" role="button">Join Now &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img" width="140" height="140" src="/img/landing/icons/mentoring.svg" alt="1:1 Mentoring">
      <h2>1:1 Mentoring</h2>
      <p>Book 1:1 sessions with global startup mentors.</p>
      <p><a class="btn btn-secondary pink" href="#" role="button">Join Now &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img" width="140" height="140" src="/img/landing/icons/community.svg" alt="Community">
      <h2>Community</h2>
      <p>Engage in a community of fellow founders and mentors.</p>
      <p><a class="btn btn-secondary pink" href="#" role="button">Join Now &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6 col-lg-4 p-3">
      <h2 class="featurette-heading">How it works. <span class="text-muted">It’ll blow your mind.</span></h2>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">List your startup</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">Post your question</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">Review your answers</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">Book 1:1 calls with mentors</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">Engage in a virtual startup community</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Why you should trust us. <span class="text-muted">We were finalists in <a href="https://theglobalhack.com/results/" target="_blank" class="text-pink">theglobalhack.com</a>.</span></h2>
      <p class="lead">
        Scored 4th place in our category and among top 30 of 500 participating teams
        Theglobalhack was a global virtual hackathon to fight the corona crisis and hack solutions for a better future.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/img/landing/works.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Awards">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row d-flex">
    <div class="col">
      <h2 class="featurette-heading">Don't take our word for it. <span class="text-muted">Hear what Industry Experts are saying.</span></h2>
    </div>
    <div class="col-lg-6">
      <div class="pink text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <img src="/img/landing/eva.jpg" class="rounded-circle profile" width="150" height="150" alt="Abhishek Balakrishnan picture" />
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <blockquote class="text-muted p-4 text-justify">
            <span class="font-italic">
              "A platform like this is an essential tool for nascent entrepreneurs who are just starting their journey, and need advice, even to be able to articulate a definition of their own project.
              This platform offers access to valuable resources, and connects them with mentors who can guide them along the whole process."
            </span>
            <footer class="blockquote-footer pt-2">Eva González <cite title="Source Title">Director, Emprender en Femenino</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="bg-light text-center overflow-hidden">
        <div class="my-3 p-3">
          <img src="/img/landing/abhishek.jpg" class="rounded-circle profile" width="150" height="150" alt="Abhishek Balakrishnan picture" />
        </div>
        <div class="pink shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <blockquote class="text-white p-4 text-justify">
            <span class="font-italic">
              "We have a similar model to your Virtual Incubator Platform and it works successfully since 10 years.
              We incubated 350 early-stage ventures with the support of 250 mentors who guide them through a step by step process to make them investment ready. This is much needed for entrepreneurs in Emerging markets focusing on SDG goals."
            </span>
            <footer class="blockquote-footer text-white pt-2">Abhishek Balakrishnan <cite title="Source Title">CEO at IDEA: Northeastern University's Venture Accelerator</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row mb-5">
    <div class="col text-center">
      <h2 class="featurette-heading">Join us now. <span class="text-muted">For free.</span></h2>
      <p class="lead">
        <a class="btn btn-lg btn-primary pink mt-3" href="/users/sign_up" role="button">Sign up</a>
      </p>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
