.profile-show {
  .venture-name {
    color: white;

    a {
      color: white;
    }
  }

  .venture-data {
    div {
      overflow: hidden;
    }

    .value {
      font-weight: 900;
      display: block;
    }

    .type {
      font-weight: 100;
      display: block;
    }
  }
}