// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title .badge {
  font-size: 0.3em;
}

.answer {
  .body {
    background-color: #f7f7f7;
    border-radius: 10px;

    .text {
      font-weight: 300;
    }
  }
}

.video {
  float: right;
}

.asker {
  text-align: right;
}

.answer-name {
  font-size: 2em;
}
