div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

#error_explanation {
  margin-bottom: 20px;
}

#error_explanation h2 {
  font-size: 12px;
  color: #721c24;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  text-align: left;
}

#error_explanation ul {
  margin-bottom: 0;
}