html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  background-color: #fff;
}

.navbar .name {
  color: white;
}

main > .container {
  padding: 60px 15px 0;
}
