// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question {
  border-top: 1px solid lightgray;

  .header {
    .details {
      line-height: 1.1;

      .title {
        color: #5A5555;
        font-size: 1.2rem;
        font-weight: 400;
      }

      .asked-at {
        font-size: 0.8rem;
        font-weight: 100;
      }
    }
  }

  .detail-link h5 {
    color: #5A5555;
    font-weight: 500;
  }

  .answers {
    .counter {
      font-weight: 100;
      font-size: 0.9rem;
    }
  }
}
